body {
	--background: #c4f13f;
	--primary: #111;
	background-color: var(--background);
	font-family: 'Ubuntu Mono', monospace;
	color: var(--primary);
}
.main {
	width: min(500px, 50%);
	margin: 50px 0;
	border: 2px solid var(--primary);
	/*text-align: center;*/
	padding: 5px
}

.title {
	margin: -0.75em 0 0 0;
	background-color: var(--background); 
	background-clip: padding-box;
	padding: 0 10px;
	display: inline-block
}

.link {
	display: inline-block;
	padding: 4px;
	margin: 3px;
	color: var(--background);
	background-color: var(--primary);
}

.link:visited {
	background-color: #f13fda;
}